
*{
    border: 1px;
    background-color: 4F709C;
    padding: 100;
    
}

:root {
    /* Using CSS Custom properties */
    --cream: F5EFE7;
    --beige: D8C4B6;
    --mblu: 4F709C;
    --dblu: 213555;
    --mainbackgroundcolor: #f1c376;
}

h1 {
    font-size:30px;
    font-weight: 1000;
    font-style:initial;
    color: rgb(20, 58, 58);
    background-color: azure;
    padding-left: 0.8rem;

}

h2 {
    font-size: 25px;
    font-weight: 1000;
    font-style: initial;
    color: rgb(20, 58, 58);
    background-color: azure; 
    padding-left: 0.8rem;
    padding-top: 0.5rem;

}

h3 {
    font-size: 23px;
    font-weight: 1000;
    font-style: initial;
    color: rgb(20, 58, 58);
    background-color: azure;
    padding-left: 0.8rem;
    padding-bottom: 1rem;
      


}

h4{
    font-size: 23px;
    font-weight: 1000;
    font-style: initial;
    color: rgb(20, 58, 58);
    background-color: azure;
    padding-left: 0.8rem;
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;


}

p{
    color: azure;

}


 body {
    min-width: 320px;
           
    font-size: 1rem;
    letter-spacing: 0.01em;
    line-height: 1.6;
}


section {
    width: 90%;
    margin: 2rem;
    background-color: darkslategrey;
    margin-bottom: 2rem;
    min-height: 100px;
    padding: 30px;
    border: 1px;
}

.img{
    padding-bottom: 20px;
}
.header{
    width: 100;
    margin: 2rem;
    background-color: darkslategrey;
    margin-bottom: 2rem;
    min-height: 100px;
    padding: 30px;
    border: 1px;

}


div {
    background-color:palevioletred;
    color:black;
    width: 90%;

    height: 30%;


}

section ul {
    list-style: disc;
    padding-left: 1.5rem;
    margin: 1rem;
    
}

section ol {
    list-style: number;
    margin-left: 2rem;
    margin: 1rem;
    

}

section li {
    background-color: var(--pnk);
    margin-bottom: 1rem;
    margin: 1rem;
 
}



